body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080909;
    color: #ffffff;
    font-family: "Inter", sans-serif, 'Noto Color Emoji';
    flex-direction: column;
    position: relative;
}

topbar {
    width: 100%;
    position: absolute;
    top: 0;
}

* {
    transition: all 0.15s;
}

.content {
    text-align: center;
    font-size: 25px;
}