html {
    font-family: "Inter", 'Amiri', sans-serif, 'Noto Color Emoji';
    background-color: rgb(5, 5, 5);
    color: white;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
}

.site_container {
    position: absolute;
    flex-direction: column;
    flex-grow: 1;
    left: 0;
    top: 5vh;
    height: calc(100dvh - 5dvh);
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* topbar */

.topbar {
    position: fixed;
    width: 100vw;
    height: 5vh;
    top: 0;
    left: 0;
    background: linear-gradient(125deg, #08020fcc, #3d147086);
    align-items: center;
    display: flex;
    font-weight: bold;
    z-index: 100;
    justify-content: space-between;
    box-sizing: border-box;
}

.topbar .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    width: auto;
    white-space: nowrap;
}

.topbar .logo_container .site_name {
    font-size: 25px;
    margin-left: 1%;
    text-decoration: none;
    color: white;
    letter-spacing: 0px;
    transform: scale(0.95);
    transition: all 0.15s ease;
}

.topbar .logo_container:hover .site_name {
    letter-spacing: 3px;
    transform: scale(1);
}

.topbar .logo_container img {
    height: 25px;
}

.topbar img,
.topbar button {
    background-color: rgba(255, 255, 255, 0);
    height: 85%;
    aspect-ratio: 1 / 1;
    border: none; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #151616;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    top: 100%;
    right: 0;
    overflow: hidden;
    font-weight: normal;
}

.user_avatar {
    cursor: pointer;
    margin-top: 5px;
    width: 30px;  
    height: 30px; 
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.027);
    cursor: pointer;
    font-weight: normal;
}

.debug-window {
    display: none;
}

/* important */

.paint {
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    background-size: cover !important;
}

#site_blur {
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    display: block;
    position: absolute;
}

#site_blur.no-blur {
    display: none;
    backdrop-filter: blur(0px);
}

.emote-wrapper {
    display: inline-grid;
    position: relative;
    grid-auto-rows: 0px;
    line-height: normal;
    justify-content: center;
    vertical-align: middle;
}

.emote {
    justify-self: center;
}

.emote.emoji {
    height: 20px;
}

/* NOT USED BUT LEFT IF SOMETHING BREAKS */
.twemoji {
    width: 20px !important;
    height: 20px !important;
    max-width: 20px;
    max-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}