body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080909;
    color: #ffffff;
    font-family: "Inter", sans-serif, 'Noto Color Emoji';
    font-size: 25px;
}

.content {
    text-align: center;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}