main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#twitch-embed {
    aspect-ratio: 16 / 9;
    display: flex;
    background-color: rgba(94, 94, 94, 0.02);
    font-size: 35px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

#embed_container {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
}

/* STREAM INFO */

.stream_info {
    position: relative;
    border-top: 1px solid #333;
    background-color: rgba(255, 255, 255, 0.02);
    margin: 0 auto;
    width: 100%;
    padding: 1% 0 1% 0;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: flex-start;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.stream_avatar {
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    height: 100px;
    aspect-ratio: 1 / 1;
    border: 2.5px solid #ffffff;
}

.stream_context {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 100%;
    gap: 5px;
}

.stream_username {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.stream_category {
    font-size: 13px;
    color: #979797;
}

.stream_stats {
    display: flex;
    margin-top: 15px;
    width: auto;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.stream_stats img {
    height: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

.stream_stats .stream_viewers {
    word-break: normal;
    color: #b13434;
}

.stream_stats .stream_time {
    word-break: normal;
    margin-right: 15px;
}

.stream_title {
    word-break: break-all;
    white-space: normal;
    max-width: 95%;
}

/* CHAT */

#chat_container {
    background-color: rgba(20, 20, 23, 0.9);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 20dvw;
}

#ChatDisplay,
#chat-sections {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    -ms-overflow-style: none;
    word-wrap: break-word;
    position: relative;
}

#chat-sections .bottom {
    position: absolute;
    bottom: 0;
    width: 99.5%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: #1c1c1c;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2), 10px 0 15px rgba(0, 0, 0, 0.2), 0 -10px 15px rgba(0, 0, 0, 0.2);
}

#chat-sections .top {
    position: absolute;
    width: 99.5%;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    background-color: #1c1c1c;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.2), 0 -10px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.bottom.border {
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-right: 1px solid #909090;
}

.top.border {
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-right: 1px solid #909090;
}

#chat-sections .bottom>* {
    border-top: 1px solid #2e2e2e;
}

#chat_container h2 {
    margin: 10px 13px;
    align-self: center;
    text-align: center;
    width: 95%;
    border-bottom: 1px solid #333;
}

#chat-box-display {
    border-top: 1px solid #333;
    display: flex;
    padding: 10px;
    justify-content: center;
}

#chat-box-display input {
    flex: 1;
    width: 100%;
    height: 24px;
    min-height: 24px;
    max-height: 150px;
    padding: 4px 8px;
    color: white;
    background-color: #1a1a1d;
    font-weight: 525;
    font-size: 15px;
    outline: none;
    border-radius: 6px;
    line-height: 16px;
    overflow-y: hidden;
    margin-right: 3px;
    border: 1px solid #333;
}

#chat-box-display button:hover img,
#chat-box-display input:hover,
#chat-box-display input:focus {
    transform: scale(1.01);
    background-color: #202025;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}

#chat-box-display button {
    background: transparent;
    border: none;
    cursor: pointer;
    max-height: 32px;
    max-width: 32px;
    margin-left: 3px;
    margin-right: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#chat-box-display button img {
    height: 24px;
    width: 24px;
    padding: 4px;
    background-color: #1a1a1d;
    border-radius: 5px;
    border: 1px solid #333;
}

#chat-box-display button:hover img {
    transform: scale(1.1);
}

.chat-reply {
    display: none;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.chat-reply #reply_info {
    max-width: 100%
}

.chat-reply #close-button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

#more_menu {
    display: none;
    max-height: 0px;
    min-height: 0px;
}

#more_menu.visible {
    display: block;
    max-height: 500px;
    min-height: 0px;
}

#more_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#more_menu li {
    padding: 5px 10px;
    cursor: pointer;
    border-top: 1px solid #2e2e2e;
}

#more_menu li:hover {
    background-color: rgba(255, 255, 255, 0.027);
}

#chat-settings {
    border-top: 1px solid #333;
    width: 100%;
    text-align: center;
}

/* MESSAGES */

.message-even {
    background-color: rgba(255, 255, 255, 0);
}

.message-odd {
    background-color: rgba(255, 255, 255, 0.02);
}

.message-announcement {
    background-color: rgba(96, 64, 160, 0.4);
}

.message-mention {
    background-color: rgba(255, 64, 64, 0.2);
}

.message-first {
    background-color: rgb(0 255 85 / 8%);
}

.message-highlight {
    background-color: rgb(114 103 255 / 11%);
}

.message-text {
    position: relative;
    color: #ffffff;
    padding: 5px;
}

.message-text:hover {
    background-color: rgb(98 98 98 / 11%);
}

#ChatDisplay.replyButton .message-text:hover #reply-button-wrapper {
    opacity: 1;
    pointer-events: all;
}

.name-wrapper,
.badge-wrapper,
.category-wrapper {
    position: relative;
    display: inline-block;
    line-height: normal;
}

#reply-button-wrapper {
    opacity: 0;
    pointer-events: none;
    background-color: #222222;
    transition: opacity 0s;
    position: absolute;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    right: 5px;
    top: -15.5px;
    border-radius: 5px;
    border: 1px solid #505050;
    display: none;
}

#reply-button-wrapper:hover {
    background-color: #282828;
    border: 2px solid #727272;
}

#reply-button-wrapper input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}

.name-wrapper {
    font-weight: bold;
}

.emote-wrapper {
    display: inline-grid;
    position: relative;
    grid-auto-rows: 0px;
    line-height: normal;
    justify-content: center;
    vertical-align: middle;
}

.bits-wrapper img {
    vertical-align: middle;
}

.emote {
    justify-self: center;
}

.badge {
    width: 1em;
    height: 1em;
    margin: 2px;
    vertical-align: middle;
}

.time {
    color: rgba(255, 255, 255, 0.1);
    display: none;
}

#ChatDisplay.msgTime .time {
    display: inline;
}

/* COMBO DISPLAY */

#ChatCombo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(19 19 19);
}

#ComboDisplay {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    width: 20%;
    margin-top: 26.3px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    min-height: 0%;
    max-height: 0%;
    background-color: rgb(19 19 19);
}

#ChatCombo:hover #ComboDisplay {
    min-height: 5%;
    max-height: 20%;
}

#ChatCombo:hover #combo_arrow {
    transform: rotate(180deg);
}

#ComboName {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 13px;
    font-weight: bolder;
    border-bottom: 1px solid #333;
}

#combo_arrow {
    display: flex;
    margin-left: auto;
    right: 0;
    font-weight: bolder;
}

#ComboName {
    display: inline-flex;
    justify-content: space-between;
}

.combo {
    display: flex;
    align-items: center;
    width: auto;
    padding: 3px;
}

.combo-text {
    margin: 0;
    flex-grow: 1;
    width: auto;
}

.combo-button {
    margin-left: 10px;
    height: 3em;
    background-color: rgba(255, 255, 255, 0.03);
    color: #fff;
    border: none;
    cursor: pointer;
}

/* TOOLTIP */

#frame {
    position: absolute;
    width: auto;
    height: auto;
    pointer-events: none;
    display: none;
    background-color: rgba(0, 0, 0, 0.767);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 100000000;
    transition: all 0.025s;
}

#frame img {
    max-height: 100px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
}

#frame .text {
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    padding: 3px 10px;
}

#tooltip-button {
    display: none;
    border: none;
    background-color: #202020;
}

/* DEBUG */

.debug-window {
    width: 30dvw;
    height: 80dvh;
    background-color: rgba(11, 12, 13);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 25px;
    max-height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px #333 solid;
}

.debug-window a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.debug-title {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.debug-part {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 10px 20px;
    background-color: #0f1112;
    border: 1px #333 solid;
    width: 93%;
    justify-self: center;
    border-radius: 5px;
}

.debug-tiles-container {
    align-items: center;
    justify-items: center;
    width: 100%;
    max-height: 10000px;
    border-top: 1px #333 solid;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.debug-tiles-container.hidden {
    max-height: 0;
    border-top: 0px #333 solid;
}

.debug-tile {
    margin: 5px;
    width: 95%;
    height: 50px;
    background-color: rgb(21 23 24);
    border: 1px #333 solid;
    border-radius: 5px;
    display: flex;
}

.debug-tile-circle {
    height: 10px;
    width: 10px;
    margin: 15px;
    align-self: center;
    border-radius: 100%;
    background-color: #353535;
    transition: all 0.3s ease-in-out;
}

.debug-tile-ok .debug-tile-circle {
    background-color: #1e9c50;
}

.debug-tile-error .debug-tile-circle {
    background-color: #ef4444;
}

.debug-tile-info {
    font-size: 1rem;
    align-self: center;
    margin-left: 5px;
}

.debug-tile-name {
    font-weight: bold;
}

.debug-tile-info-text {
    font-size: 0.8rem;
    color: #8b8b8b;
}

.debug-tiles-info {
    position: relative;
    display: flex;
    width: 95%;
    gap: 5px;
    font-size: 1.3rem;
    padding: 5px;
}

.debug-tiles-hide-arrow {
    position: absolute;
    right: 0px;
}

.debug-status.error,
.debug-status.success,
.debug-status.unchecked {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    border-radius: 15px;
}

.debug-status::before {
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
}

.debug-status.error::before {
    content: "Error";
    color: #ff7272;
    background-color: #ff72721c;
}

.debug-status.success::before {
    content: "Success";
    color: #2ce22c;
    background-color: #2ce22c1c;
}

.debug-status.unchecked::before {
    content: "Not Checked";
    color: #d5d5d5;
    background-color: #d5d5d51c;
}

.debug-tiles-name {
    font-weight: bold;
}

/* REPLY */

.reply {
    color: #cacaca;
}

.reply img {
    color: white;
    height: 26px;
}

.draggable {
    position: absolute;
    z-index: 100;
    transition: all 0s;
}

/* USERCARD */

#user_card {
    display: flex;
    flex-direction: column;
    background-color: #18181b;
    box-sizing: border-box;
    border: 1px #333 solid;
    min-width: 20dvw;
    border-radius: 7px;
    color: #DEDEE3;
}

#user_card_blur_cover {
    position: absolute;
    border-radius: 7px;
    backdrop-filter: blur(1px);
    z-index: 2;
}

#user_card .header {
    position: relative;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

#user_card .header .user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.user_info .username {
    font-weight: bold;
}

.user_cosmetics {
    display: flex;
    align-items: center;
}

.user_prounouns {
    font-size: 0.8rem;
}

.user_cosmetics {
    font-size: 0.8rem;
}

.avatar_card_container {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    height: 70px !important;
    width: 70px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ffffff08;
    border: 2px white solid;
}

.user_card_avatar {
    height: 100%;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
}

#user_card .header .user_info img {
    max-height: 15px;
}

#user_card .header #header_buttons {
    display: flex;
    position: absolute;
    height: 25px;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    user-select: none;
    cursor: pointer;
}

#user_card .header #header_buttons span {
    height: 100%;
    aspect-ratio: 1 / 1;
    color: #ffffffc7;
}

#user_card .header #header_buttons span:hover {
    color: white;
}

#user_card .header #header_buttons #block_button.blocked,
#user_card .header #header_buttons #block_button:hover {
    color: #bd4157;
}

#user_info {
    border-top: 1px #333 solid;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.user_info_container {
    flex: 0 0 48%;
    position: relative;
    display: inline-block;
    font-size: 0.8rem;
}

.user_info_title {
    color: #ADADB8;
    display: flex;
    gap: 2px;
    align-items: center;
}

.user_info_title img {
    height: 0.6rem;
    aspect-ratio: 1 / 1;
}

#subscription_info {
    border-top: 1px #333 solid;
    box-sizing: border-box;
    padding: 10px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#subscription_info #section_title {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#subscription_tags {
    display: flex;
    gap: 7px;
}

#subscription_tags::after,
#subscription_tags::before {
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 4px;
}

/* USERCARD SUB METHODS */

#subscription_tags.sub_paid::after {
    content: "Paid";
    color: #00FF7F;
    background-color: #00FF7F1c;
}

#subscription_tags.sub_prime::after {
    content: "Prime";
    color: #9147FF;
    background-color: #9147FF1c;
}

#subscription_tags.sub_gift::after {
    content: "Gifted";
    color: #FFB800;
    background-color: #FFB8001c;
}

/* USERCARD SUB TIERS */

#subscription_tags.sub_tier1::before {
    content: "Tier 1";
    color: #1F69FF;
    background-color: #1F69FF1c;
}

#subscription_tags.sub_tier2::before {
    content: "Tier 2";
    color: #9147FF;
    background-color: #9147FF1c;
}

#subscription_tags.sub_tier3::before {
    content: "Tier 3";
    color: #FF4669;
    background-color: #FF46691c;
}

#subscription_info #subscription_gifted,
#subscription_info #subscription_overall,
#subscription_info #subscription_duration {
    display: flex;
    gap: 5px;
    color: #ADADB8;
}

#overall,
#duration {
    color: #DEDEE3;
}

#subscription_info #subscription_overall,
#subscription_info #subscription_duration {
    justify-content: space-between;
}

#subscription_info #subscription_gifted #gifted_text {
    display: flex;
    gap: 3px;
}

#subscription_start {
    color: #828282;
}

#subscription_info #subscription_gifted img {
    height: 1rem;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
}

.progress-bar {
    border-radius: 15px;
    height: 10px;
    width: 100%;
    overflow: hidden;
    background-color: #1f2022;
    border: 1px solid #333333;
}

.progress-bar .progress {
    height: 100%;
    background-color: #9147ff;
}

#subscription_end {
    text-align: right;
}

#color_info {
    display: flex;
    border-top: 1px #333 solid;
    border-bottom: 1px #333 solid;
    font-size: 0.8rem;
    color: #ADADB8;
    box-sizing: border-box;
    padding: 10px;
    gap: 30%;
}

#color_display {
    display: inline-flex;
    color: #DEDEE3;
    gap: 5px;
    white-space: nowrap;
}

#color_dot {
    border-radius: 100%;
    height: 1rem;
    background-color: white;
    aspect-ratio: 1 / 1;
}

#open_twitch_profile {
    width: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff00;
    border: none;
}

#open_twitch_profile_button {
    border: none;
    background-color: transparent;
    color: #ADADB8;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

#open_twitch_profile img {
    aspect-ratio: 1 / 1;
    height: 1.5rem;
    display: block;
}

#user_card #block_confirmation {
    display: none;
    position: absolute;
    z-index: 3;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #202020;
    width: 90%;
    padding: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px #ffffff solid;
    border-radius: 7px;
}

#block_confirmation #block_confirmation_text {
    width: 100%;
    text-align: center;
}

#block_confirmation button {
    width: 45%;
    margin-left: 2.5%;
    margin-top: 7px;
    padding: 3px;
    border: 1px #ffffff solid;
    border-radius: 15px;
    font-weight: bold;
    color: white;
}

#block_confirmation #block_confirmation_yes {
    background-color: #00ff7436;
}

#block_confirmation #block_confirmation_yes:hover {
    background-color: #00ff746e;
}

#block_confirmation #block_confirmation_no {
    background-color: #ff000036;
}

#block_confirmation #block_confirmation_no:hover {
    background-color: #ff00006e;
}

/* FOLLOW LIST */

#follow_list {
    background-color: rgba(20, 20, 23, 0.9);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 15dvw;
    overflow-y: auto;
    overflow-x: hidden;
}

#follow_list h2 {
    margin: 10px 13px;
    align-self: center;
    width: 95%;
    border-bottom: 1px solid #333;
}

.followed_display {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-radius: 5px;
    padding: 3px;
    width: 90%;
    text-overflow: ellipsis;
}

.followed_display .followed_name {
    width: 100%;
    padding: 5px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.followed_display .followed_viewers {
    color: #b13434;
}

.followed_display:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

#follow_list img {
    width: 23px;
    height: 23px;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 5px;
    aspect-ratio: 1/1;
    border: 1px solid rgb(65, 65, 65);
}

/* EMOTE AUTOCOMPLETION */

#Emote_autocompletion {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    width: 100%;
    max-height: 20%;
    min-height: 0%;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background-color: rgb(19 19 19) !important;
}

#Emote_autocompletion::-webkit-scrollbar-track {
    background: rgb(48 48 48 / 31%) !important;
}

#Emote_autocompletion img {
    height: 30px;
    margin-right: 5px;
}

.emote_completion_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    border: none;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
    border-bottom: 2px solid #1d1d1d;
    background-color: rgb(48 48 48 / 31%);
}

.emote_completion_button:active {
    background-color: rgb(120 120 120 / 15%);
}

/* EMOTE PICKER */

#emote_picker {
    display: none;
    height: 50dvh;
    width: 20dvw;
    background-color: #141414;
    border: 1px #333 solid;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
}

#emote_picker_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #333;
    font-size: 1.2rem;
}

#close_emote_picker:hover {
    color: #b3b3b3;
    user-select: none;
    cursor: pointer;
}

#emote_picker_search {
    display: flex;
    width: 100%;
    background-color: #ffffff00;
    border-bottom: 1px solid #333;
}

#emote_picker_search button {
    height: 30px;
    border: none;
    aspect-ratio: 1 / 1;
    padding: 0px;
    border-left: 1px solid #333;
    background-color: #ffffff00;
}

#emote_picker_search button:hover,
#emote_picker_search button.active {
    background-color: #ffffff14;
}

#emote_picker_search img {
    aspect-ratio: 1 / 1;
}

#emote_picker_search_input {
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 2px 6px 2px 6px;
    color: white;
    outline: none;
    background-color: #ffffff00;
}

#emote_picker_sections_selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid #333;
}

#emote_picker_sections_selector button {
    padding: 2px 6px 2px 6px;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #ffffff00;
}

#emote_picker_sections_selector button:hover {
    background-color: #ffffff24;
}

#emote_picker_sections {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0px 0px 15px 0px;
    box-sizing: border-box;
}

#emote_picker_sections p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.emote_picker_section h2 {
    margin-top: 5px;
    font-size: 0.7rem;
    border-bottom: 1px solid #333;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    font-weight: normal;
}

.emote_list {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: 7px;
    width: 90%;
}

.emote_list img {
    max-height: 30px;
    user-select: none;
    cursor: pointer;
    transition: max-height 0.15s;
}

/* MOBILE */

@media (max-width: 767px) and (orientation: portrait) {
    body {
        overflow: hidden !important;
        flex-direction: column !important;
        width: 100dvw !important;
        height: 100dvh !important;
    }

    #follow_list {
        background-color: rgba(20, 20, 23);
        position: absolute;
        z-index: 102;
        max-width: 60%;
        width: 0%;
    }

    #ChatCombo {
        display: none;
    }

    .stream_avatar {
        height: 50px;
        border-radius: 7px;
        border: 1.5px solid #ffffff;
    }

    .stream_username {
        font-size: 15px;
    }

    .stream_stats {
        font-size: 13px;
    }

    .stream_stats img {
        height: 13px
    }

    .stream_context {
        max-width: 50% !important;
    }

    .stream_title {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .stream_title .emote-wrapper {
        min-height: 20px !important;
    }

    .stream_title .emote {
        max-height: 20px !important;
    }

    .stream_title .emote.emoji {
        height: 20px !important;
    }

    #embed_container {
        margin: 0% !important;
    }

    .stream_category {
        font-size: 10px;
    }

    h2 {
        font-size: 15px;
    }

    #chat-sections {
        flex: 1 !important;
        height: 100% !important;
    }

    #chat_container {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
        width: 100%;
    }

    .stream_info {
        border-radius: 0px;
        border-bottom: 1px solid #333;
        box-shadow: none;
        flex-shrink: 0 !important;
    }

    #twitch-embed {
        width: 100dvw;
        aspect-ratio: 16 / 9;
        max-height: 30dvh;
        flex-shrink: 0 !important;
    }

    #chatSendButton,
    #chatEmotePickerButton {
        display: none !important;
    }

    #Emote_autocompletion {
        max-height: 40% !important;
    }

    #user_card {
        width: 100%;
        max-width: 100% !important;
        border-top: 1px solid #333;
        bottom: 0;
        border-radius: 0px !important;
        padding: 5px;
    }

    .avatar_card_container {
        width: 50px !important;
        height: 50px !important;
    }

    #user_card #close_button {
        display: none;
    }

    #user_card .user_info {
        font-size: 0.9rem;
    }

    #user-card #copyButton {
        height: 0.9rem;
    }

    #open_twitch_profile {
        padding: 2px;
    }

    #open_twitch_profile #open_link {
        height: 0.7rem !important;
    }

    #open_twitch_profile_button {
        font-size: 0.7rem !important;
    }

    #frame {
        bottom: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        pointer-events: all;
        background-color: #111;
        max-height: 30%;
        padding: 15px;
        border-top: 1px solid #333;
    }

    #frame img {
        width: 25%;
        aspect-ratio: 1 / 1;
        border-radius: 15px;
    }

    #tooltip-button {
        border-radius: 5px;
    }

    #frame-text-holder {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }

    #tooltip-button {
        display: flow;
        width: 70%;
    }

    #frame-img {
        padding: 0px !important;
        border: 1px solid;
    }

    #frame .text {
        font-size: 1rem;
    }

    .follow_list_button {
        display: flex;
    }

    .debug-window {
        width: 90dvw;
        height: 80dvh;
    }
}