.followList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 0.5%;
    box-sizing: border-box;
    opacity: 0.5;
    transition: width 0.3s ease, opacity 0.3s ease;
    pointer-events: auto;
}

.followList:hover  {
    width: 5%;
    opacity: 1;
}

#followed {
    font-size: 18px;
    margin-top: 0;
    overflow: visible;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.05) rgba(255, 255, 255, 0);
    -ms-overflow-style: none;
}

#followed img {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

#followed:hover img {
    opacity: 1;
}

#followed img:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.1);
}
